body {
    padding: var(--espace-xl);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &[data-peut-defiler="false"] {
        height: 100vh;
        overflow: hidden;
    }
}

header {
    text-align: center;
    margin-bottom: var(--espace-xl);
    padding: var(--espace-md);
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    min-height: 200vh;
    flex-grow: 1;
}

footer {
    text-align: center;
    margin-top: var(--espace-xl);
    padding: var(--espace-md);
    background-color: lightblue;
}
